*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
    position: relative;
}
body {
    background-color: #1d1f21;
}
h2 {
    color: white;
    margin-top: 30px;
    text-align: center;
}
.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}
.content .container {
    min-width: 300px;
    min-height: 300px;
}
.content img:hover {
    border: 4px solid rgb(192, 0, 209);
}
.content img {
    max-width: 90vw;
    height: max-content;
}
.content.gifs img {
    width: max-content;
}
.content.images img {
    width: 850px;
}